.swiper {
    width: 100%;
    height: 100%;
  }


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.swiper-pagination-bullet{
    background-color: #fff;
    padding: 7px;
   
  
  }

  .images{

  
    height: 500px;
  }

@media screen and (max-width: 768px) {
    .images{
        background: center;
      }
}

