.slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 15px;
  }
  
  .slick-prev:before{
    content: "";
    display: none;
  }

  .slick-next:before{
    content: "";
    display: none;
  }
  .card {
 
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    
  }

  .card-bottom {
    margin: 10px 20px;
  }

  .slick-prev {
   margin-left: -10px;
    
    }

    .slick-next {
        margin-left: 40px;
         
         }